.container {
    padding: 2em 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
    width: 100%;
    background-color: #b4d5af;
    border-radius: 10px;
}

.label {
    margin-right: 10px;
}

.input {
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.list {
    font-weight: bold;
}

.form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
    background-color: #fff;
}

.checkboxInput {
    margin-left: 1em;
}
