.form-container{
    background-color: rgb(226, 137, 155);
    padding: 10px;
}

.label-form{
    margin-right: 10px;
}

.input-form{
    margin-bottom: 10px;
    padding: 5px 10px;
}
.list-item{
    font-weight: bold;
}